/*
Copyright 2022 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@use "sass:math";

@import '../styles/variables';

.event-detail {
  .event-detail-close-button {
    width: 24px;
    float: right;
    margin: 1em;
    background: none;
    border: none;
  }

  .event-detail-content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    width: 100%;

    .event-detail-teasingImage {
      width: 100%;
      height: auto;
    }

    .event-detail-speakers {
      grid-column: 1 / -1;
      
       .event-detail-speakers-grid {
        list-style: none;
        display: flex;

        .event-detail-speaker {
          position: relative;
          width: 200px;
          height: 300px;
          display: grid;
          grid-template-rows: 1fr auto;

          .event-detail-speaker-card {
            background-color: lighten(#000, 25%);
            color: white;
            grid-row: 2;
            padding: .5rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            > span {
              margin-bottom: .4rem;
            }

            .event-detail-speaker-name {
              font-weight: 700;
            }
          }

          .event-detail-speaker-img {
            position: absolute;
            object-fit: cover;
            inset: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .event-detail {
    .event-detail-content {
      grid-template-columns: 1fr 1fr;
    }
  }
}
