/*
Copyright 2022 Adobe
All Rights Reserved.
NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@use "sass:math";

@import '../styles/variables';

.event-detail {
  .event-detail-close-button {
    width: 24px;
    float: right;
    margin: 1em;
    background: none;
    border: none;
  }

  .event-detail-content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    width: 100%;

    .event-detail-teasingImage {
      width: 100%;
      height: auto;
    }

    .event-detail-speakers {
      grid-column: 1 / -1;
      
       .event-detail-speakers-grid {
        list-style: none;
        display: flex;

        .event-detail-speaker {
          position: relative;
          width: 200px;
          height: 300px;

          .event-detail-speaker-card {
            background-color: darkslategrey;
            color: white;
            height: 80px;
            margin-top: 220px;

            > span {
              display: block;
              padding: .4rem .8rem;
              overflow: hidden;
            }
          }

          .event-detail-speaker-img {
            position: absolute;
            object-fit: cover;
            inset: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .event-detail {
    .event-detail-content {
      grid-template-columns: 1fr 1fr;
    }
  }
}
